.hoantat .row {
    align-items: center;
    height: 600px;
}

.hoantat .col-6 {
    border: 2px solid #745caf;
    padding: 15px;
    border-radius: 15px;
}

.hoantat h3 {
    color: #745caf;
    margin: 0 0 30px;
}
.hoantat h6 {
    margin: 0 0 15px;
}

.hoantat a {
    width: 100%;
    border: none;
    background: #745caf;
    color: white;
    border-radius: 10px;
    padding: 5px 0;
    display: block;
    text-decoration: none;
}

.hoantat a:hover {
    background: #513a88;
    color: white;
}